.addContainer {
  width: 50%;
  padding-left: 160px;

  .formContainer {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 12px;
    }

    button {
      padding: 8px;
    }
  }

  @media (max-width: 850px) {
    width: 100%;
    padding: 0;
  }
}
