.container {
  display: flex;

  .wallets {
    width: 50%;
    height: 100vh;

    .wallet {
      background-color: white;
      border-radius: 8px;
      padding: 16px;
      color: black;
      margin-bottom: 8px;
    }
  }
}
